.main-header {
  color: white;
  background: #3892d4;
}

.header-bottom {
  background: #3892d4;
  border: none;
  width: 325px;
}

.main-title {
  font-size: 25px;
}

.sold-out {
  color: white;
  background-color: red;
}
